{{#this}} 
    {{#if (math @index "%" 6)}}
        </section>
        <section class="row">
    {{/if}}
    <button type="button" id={{id}} class="game col-sm-2  game-container">
        <img class="img-circle img-responsive img-game" {{#if cover.url}}src="{{cover.url}}" {{else}}src="./images/game.png" style="max-width:90px" {{/if}}>
        <footer class="list-content">
            <p class="list-title">{{name}}</p>
            <p class="list-rating">Rating: {{popularity}}</p>
            <p class="list-price">FREE</p>
        </footer>
    </button> 
{{/this}}