<div class="row">
    <legend class="col-sm-7">Fansoft games</legend>
    <div id="custom-search-input" class="col-sm-4 col-sm-offset-1">
        <div class="input-group">
            <input type="text" id="searchbar" class="form-control input-sm" placeholder="Search" />
            <span class="input-group-btn">
                        <button class="btn btn-info btn-sm" id="search" type="button">
                            <i class="glyphicon glyphicon-search"></i>
                        </button>
            </span>
        </div>
    </div>
</div>

<section id="market"></section>

<footer id="text-center paginator-holder">
    {{#pagination currentPage pagesCount paginatorSize search}}
    <ul class="pagination">
        {{#if leftArrow}}
        <li>
            <a href="#/{{gamesRoute}}?{{#if search}}search={{search}}&{{/if}}page={{leftArrow}}">
                <i class="glyphicon glyphicon-chevron-left"></i>
            </a>
        </li>
        <li><a href="#/{{gamesRoute}}?{{#if search}}search={{search}}&{{/if}}page=1">1</a></li>
        <li>
            <a href="#/{{gamesRoute}}?{{#if search}}search={{search}}&{{/if}}page={{leftMiddle}}">
                <i class="glyphicon glyphicon-option-horizontal"></i>
            </a>
        </li>
        {{/if}} {{#each pages}} {{#if isCurrent}}
        <li class="active"><a href="#/{{gamesRoute}}?{{#if search}}search={{search}}&{{/if}}page={{page}}">{{page}}</a></li>
        {{else}}
        <li><a href="#/{{gamesRoute}}?{{#if search}}search={{search}}&{{/if}}page={{page}}">{{page}}</a></li>
        {{/if}} {{/each}} {{#if rightArrow}}
        <li>
            <a href="#/{{gamesRoute}}?{{#if search}}search={{search}}&{{/if}}page={{rightMiddle}}">
                <i class="glyphicon glyphicon-option-horizontal"></i>
            </a>
        </li>
        <li><a href="#/{{gamesRoute}}?{{#if search}}search={{search}}&{{/if}}page={{totalPages}}">{{totalPages}}</a></li>
        <li>
            <a href="#/{{gamesRoute}}?{{#if search}}search={{search}}&{{/if}}page={{rightArrow}}">
                <i class="glyphicon glyphicon-chevron-right"></i>
            </a>
        </li>
        {{/if}}
    </ul>
    {{/pagination}}
</footer>