{{#this}} 
    {{#if (math @index "%" 6)}}
        </section>
        <section class="row">
    {{/if}}
    <article id={{id}} class="col-sm-2  game-container user-game-container">
        <a href="#/user" title="Description" data-toggle="popover" data-content="{{#if summary}}{{summary}}{{else}}No description!{{/if}}">
            <img class="img-thumbnail img-responsive user-game-img" {{#if cover.url}}src="{{cover.url}}" {{else}}src="./images/game.png" style="max-width:100px" {{/if}}>
        </a>

        <a class="btn btn-sm btn-danger remove-game">
            <i class="glyphicon glyphicon-remove remove"></i>
        </a>

        <footer class="list-content">
            <p class="list-title">{{name}}</p>
        </footer>
    </article>
{{else}}
    <h1 class="row">There are no downloaded games!</h1>
{{/this}}